.main-btn {
  background-color: #006152;
  border: none;
  color: white;
  padding: 4px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main-btn-book {
  background-color: #006152;
  border: none;
  color: white;
  padding: 4px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
}
