.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height:85px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-text {
  display: inline-block;
}

.search-btn {
  background-color: #006152;
  border: none;
  color: white;
  padding: 4px 32px;
  border-radius: 3px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.search-input {
  border-radius: 3px;
  padding: 4px 32px;
}
